<table width="914"  border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td valign="top" colspan="3">
						<table width="914" border="0" cellspacing="0" cellpadding="0" class="Text01">
						<tr>
							<td height="5"></td>
						</tr>
						<tr>
							<td valign="middle">
								<div class="TextLarge03">Anne Wilkins / Bob Wilkins (cont.)</div>
								<div class="TextLarge02">3108 Alexis Drive, Palo Alto, CA 94304-1306</div></td>
							<td valign="middle" align="right">
								<%= link_to image_tag("/images/btn_returntopage1.gif" , :alt=>"View College Planning Requirements" ,:border=>"0"),:action => "college_planning_requirements" %></td>
						</tr>
						<tr>
							<td height="15"></td>
						</tr>
						</table></td>
				</tr>
				<tr>
					<td valign="top" with="634">					
								
						<table width="634" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td><img src="/images/cor01.gif" alt="" border="0" /></td>
							<td class="CorBg01"></td>
							<td><img src="/images/cor02.gif" alt="" border="0" /></td>
						</tr>
						<tr>
							<td width="10" class="CorBg02"></td>
							<td width="614" valign="top">
								<div class="Heading01Divs07">
								<div><%= render_box_arrow(__FILE__, 'Loan Option 2 - Refinance Current Mortgage') %></div>
								</div><br /><br />
								
								<table width="614" border="0" cellspacing="0" cellpadding="0" class="Text01">
								<tr>
									<td valign="top">
										<table width="614" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td valign="top">
												<table width="614" border="0" cellspacing="0" cellpadding="2">
												<tr>
													<td valign="top" colspan="13">
														<div><div class="Heading02">Loan Analysis</div><div class="TextLink01"><img src="/images/editdefaults_i.gif" alt="" border="0" /><a href="#" target="_self">Edit Loan Assumptions</a></div></div></td>
												</tr>
												<tr>
													<td valign="middle"></td>
													<td></td>
													<td valign="middle" align="center">Current Loan</td>
													<td></td>
													<td valign="middle" align="center" class="Row01" colspan="9"><span>Refinancing Options</span></td>
												</tr>
												<tr>
													<td valign="middle">Loan Type</td>
													<td width="10"></td>
													<td valign="middle" align="center" style="border-bottom:1px solid #DDD9C3;">30 Years Fixed</td>
													<td width="10"></td>
													<td valign="middle" align="center" style="border-bottom:1px solid #DDD9C3;"><span>5 / 1 ARM</span></td>
													<td width="10"></td>
													<td valign="middle" align="center" style="border-bottom:1px solid #DDD9C3;"><span>7 / 1 ARM</span></td>
													<td width="10"></td>
													<td valign="middle" align="center" style="border-bottom:1px solid #DDD9C3;"><span>15 Yr Fixed</span></td>
													<td width="10"></td>
													<td valign="middle" align="center" style="border-bottom:1px solid #DDD9C3;"><span>20 Yr Fixed</span></td>
													<td width="10"></td>
													<td valign="middle" align="center" style="border-bottom:1px solid #DDD9C3;"><span>30 Yr Fixed</span></td>
												</tr>
												<tr>
													<td valign="middle">Loan Balance</td>
													<td></td>
													<td valign="middle" align="right">$ 000,000</td>
													<td></td>
													<td valign="middle" align="right">$ 000,000</td>
													<td></td>
													<td valign="middle" align="right">$ 000,000</td>
													<td></td>
													<td valign="middle" align="right">$ 000,000</td>
													<td></td>
													<td valign="middle" align="right">$ 000,000</td>
													<td></td>
													<td valign="middle" align="right">$ 000,000</td>
												</tr>
												<tr>
													<td valign="middle">Closing Costs</td>
													<td></td>
													<td valign="middle" align="right" style="border-bottom:1px solid #DDD9C3;">&nbsp;</td>
													<td></td>
													<td valign="middle" align="right" style="border-bottom:1px solid #DDD9C3;">000,000</td>
													<td></td>
													<td valign="middle" align="right" style="border-bottom:1px solid #DDD9C3;">000,000</td>
													<td></td>
													<td valign="middle" align="right" style="border-bottom:1px solid #DDD9C3;">000,000</td>
													<td></td>
													<td valign="middle" align="right" style="border-bottom:1px solid #DDD9C3;">000,000</td>
													<td></td>
													<td valign="middle" align="right" style="border-bottom:1px solid #DDD9C3;">000,000</td>
												</tr>
												<tr>
													<td valign="middle">New Loan</td>
													<td></td>
													<td valign="middle" align="right">$ 000,000</td>
													<td></td>
													<td valign="middle" align="right">$ 000,000</td>
													<td></td>
													<td valign="middle" align="right">$ 000,000</td>
													<td></td>
													<td valign="middle" align="right">$ 000,000</td>
													<td></td>
													<td valign="middle" align="right">$ 000,000</td>
													<td></td>
													<td valign="middle" align="right">$ 000,000</td>
												</tr>
												<tr>
													<td valign="middle">Interest Rate</td>
													<td></td>
													<td valign="middle" align="right">0.00%</td>
													<td></td>
													<td valign="middle" align="right">0.00%</td>
													<td></td>
													<td valign="middle" align="right">0.00%</td>
													<td></td>
													<td valign="middle" align="right">0.00%</td>
													<td></td>
													<td valign="middle" align="right">0.00%</td>
													<td></td>
													<td valign="middle" align="right">0.00%</td>
												</tr>
												<tr>
													<td valign="middle">Monthly Payment</td>
													<td></td>
													<td valign="middle" align="right">$ 000,000</td>
													<td></td>
													<td valign="middle" align="right">$ 000,000</td>
													<td></td>
													<td valign="middle" align="right">$ 000,000</td>
													<td></td>
													<td valign="middle" align="right">$ 000,000</td>
													<td></td>
													<td valign="middle" align="right">$ 000,000</td>
													<td></td>
													<td valign="middle" align="right">$ 000,000</td>
												</tr>
												<tr>
													<td valign="middle">Monthly Savings Opportunity</td>
													<td></td>
													<td valign="middle" align="right">&nbsp;</td>
													<td></td>
													<td valign="middle" align="right"><span class="TextColor02">$ 000,000</span></td>
													<td></td>
													<td valign="middle" align="right"><span class="TextColor02">$ 000,000</span></td>
													<td></td>
													<td valign="middle" align="right"><span class="TextColor03">($ 000,000)</span></td>
													<td></td>
													<td valign="middle" align="right"><span class="TextColor02">($ 000,000)</span></td>
													<td></td>
													<td valign="middle" align="right"><span class="TextColor02">$ 000,000</span></td>
												</tr>
												<tr>
													<td height="10"></td>
												</tr>
												<tr>
													<td valign="middle" style="border-bottom:1px solid #DDD9C3;"><strong>Total Payments</strong></td>
													<td colspan="12">&nbsp;</td>
												</tr>
												<tr>
													<td valign="middle">Principal</td>
													<td></td>
													<td valign="middle" align="right">$ 000,000</td>
													<td></td>
													<td valign="middle" align="right">$ 000,000</td>
													<td></td>
													<td valign="middle" align="right">$ 000,000</td>
													<td></td>
													<td valign="middle" align="right">$ 000,000</td>
													<td></td>
													<td valign="middle" align="right">$ 000,000</td>
													<td></td>
													<td valign="middle" align="right">$ 000,000</td>
												</tr>
												<tr>
													<td valign="middle">Interest</td>
													<td></td>
													<td valign="middle" align="right" style="border-bottom:1px solid #DDD9C3;">000,000</td>
													<td></td>
													<td valign="middle" align="right" style="border-bottom:1px solid #DDD9C3;">000,000</td>
													<td></td>
													<td valign="middle" align="right" style="border-bottom:1px solid #DDD9C3;">000,000</td>
													<td></td>
													<td valign="middle" align="right" style="border-bottom:1px solid #DDD9C3;">000,000</td>
													<td></td>
													<td valign="middle" align="right" style="border-bottom:1px solid #DDD9C3;">000,000</td>
													<td></td>
													<td valign="middle" align="right" style="border-bottom:1px solid #DDD9C3;">000,000</td>
												</tr>
												<tr>
													<td valign="middle">Total</td>
													<td></td>
													<td valign="middle" align="right">$ 000,000</td>
													<td></td>
													<td valign="middle" align="right">$ 000,000</td>
													<td></td>
													<td valign="middle" align="right">$ 000,000</td>
													<td></td>
													<td valign="middle" align="right">$ 000,000</td>
													<td></td>
													<td valign="middle" align="right">$ 000,000</td>
													<td></td>
													<td valign="middle" align="right">$ 000,000</td>
												</tr>
												<tr>
													<td valign="middle">NPV @ 7%</td>
													<td></td>
													<td valign="middle" align="right">000,000</td>
													<td></td>
													<td valign="middle" align="right">000,000</td>
													<td></td>
													<td valign="middle" align="right">000,000</td>
													<td></td>
													<td valign="middle" align="right">000,000</td>
													<td></td>
													<td valign="middle" align="right">000,000</td>
													<td></td>
													<td valign="middle" align="right">000,000</td>
												</tr>
												<tr>
													<td valign="middle">NPV Savings Over Life of Loan</td>
													<td></td>
													<td valign="middle" align="right">&nbsp;</td>
													<td></td>
													<td valign="middle" align="right"><span class="TextColor02">($000,000)</span></td>
													<td></td>
													<td valign="middle" align="right"><span class="TextColor02">($000,000)</span></td>
													<td></td>
													<td valign="middle" align="right"><span class="TextColor02">($000,000)</span></td>
													<td></td>
													<td valign="middle" align="right"><span class="TextColor02">($000,000)</span></td>
													<td></td>
													<td valign="middle" align="right"><span class="TextColor03">($000,000)</span></td>
												</tr>
												<tr>
													<td valign="middle">APR</td>
													<td></td>
													<td valign="middle" align="right"></td>
													<td></td>
													<td valign="middle" align="right">0.00%</td>
													<td></td>
													<td valign="middle" align="right">0.00%</td>
													<td></td>
													<td valign="middle" align="right">0.00%</td>
													<td></td>
													<td valign="middle" align="right">0.00%</td>
													<td></td>
													<td valign="middle" align="right">0.00%</td>
												</tr>
												<tr>
													<td valign="middle">Include In Report</td>
													<td></td>
													<td valign="middle" align="right"></td>
													<td></td>
													<td valign="middle" align="right"><input type="checkbox" /></td>
													<td></td>
													<td valign="middle" align="right"><input type="checkbox" /></td>
													<td></td>
													<td valign="middle" align="right"><input type="checkbox" /></td>
													<td></td>
													<td valign="middle" align="right"><input type="checkbox" /></td>
													<td></td>
													<td valign="middle" align="right"><input type="checkbox" /></td>
												</tr>
												</table>
												
												<table width="614" border="0" cellspacing="0" cellpadding="2">
												<tr>
													<td height="10"></td>
												</tr>
												<tr>
													<td valign="middle" width="50%"><a href="#" target="_self"><img src="/images/btn_generatereport.gif" alt="" border="0" /></a></td>
													<td valign="middle" width="50%" align="right">
													<%= link_to image_tag("/images/btn_viewpage3_loan.gif" , :alt=>"View Loan Comparisons" ,:border=>"0"),:action => "loan_comparison" %></td>
												</tr>
												</table></td>
										</tr>
										</table></td>
								</tr>
								</table></td>
							<td width="10" class="CorBg03"></td>
						</tr>
						<tr>
							<td><img src="/images/cor03.gif" alt="" border="0" /></td>
							<td class="CorBg04"></td>
							<td><img src="/images/cor04.gif" alt="" border="0" /></td>
						</tr>
						</table></td>
					<td width="10"></td>
					<td width="270" valign="top">
						<table width="270" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td><img src="/images/cor01.gif" alt="" border="0" /></td>
							<td class="CorBg01"></td>
							<td><img src="/images/cor02.gif" alt="" border="0" /></td>
						</tr>
						<tr>
							<td width="10" class="CorBg02"></td>
							<td width="250" valign="top">
								<div class="Heading01Divs06">
								<div><%= render_box_arrow(__FILE__, 'Loan Comparison - Option 2') %></div>
							</div><br /><br />
								
								<table width="250" border="0" cellspacing="0" cellpadding="0" class="Text01">
								<tr>
									<td valign="top"><img src="/images/oppotunities_graph07.gif" alt="" border="0" /></td>
								</tr>
								</table></td>
							<td width="10" class="CorBg03"></td>
						</tr>
						<tr>
							<td><img src="/images/cor03.gif" alt="" border="0" /></td>
							<td class="CorBg04"></td>
							<td><img src="/images/cor04.gif" alt="" border="0" /></td>
						</tr>
						</table>
						
						<table width="270" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td height="10"></td>
						</tr>
						</table>
						
						<table width="270" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td><img src="/images/cor01.gif" alt="" border="0" /></td>
							<td class="CorBg01"></td>
							<td><img src="/images/cor02.gif" alt="" border="0" /></td>
						</tr>
						<tr>
							<td width="10" class="CorBg02"></td>
							<td width="250" valign="top">
								<div class="Heading01Divs06">
								<div><%= render_box_arrow(__FILE__, 'Value of Savings - Option 2') %></div>
								</div><br /><br />
								
								<table width="250" border="0" cellspacing="0" cellpadding="0" class="Text01">
								<tr>
									<td valign="top"><img src="/images/oppotunities_graph23.gif" alt="" border="0" /></td>
								</tr>
								</table></td>
							<td width="10" class="CorBg03"></td>
						</tr>
						<tr>
							<td><img src="/images/cor03.gif" alt="" border="0" /></td>
							<td class="CorBg04"></td>
							<td><img src="/images/cor04.gif" alt="" border="0" /></td>
						</tr>
						</table></td>
				</tr>
				</table>