<table width="914"  border="0" cellspacing="0" cellpadding="0">
		  <tr>
				<td height="5"></td>
			</tr>
			<tr>
				<td valign="top" colspan="5" align="right"><%= link_to image_tag("/images/btn_returntopage1.gif" ,:alt=>"View Rate Risk Opportunity",:border=>"0"),:action => "rate_risk_opportunity" %></td>
			</tr>
			<tr>
				<td height="15"></td>
			</tr>
		  <tr>
				<td width="270" valign="top">
				    <table width="270" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td><img src="/images/cor01.gif" alt="" border="0" /></td>
						<td class="CorBg01"></td>
						<td><img src="/images/cor02.gif" alt="" border="0" /></td>
					</tr>
					<tr>
						<td width="10" class="CorBg02"></td>
						<td width="250" valign="top">
							<div class="Heading01Divs06"><%= render_box_arrow(__FILE__, 'Property Information') %></div><br /><br />
							<br /><br />
							<table width="250" border="0" cellpadding="0" cellspacing="0" class="Text01">
                              <tr>
                                <td width="108" ><span class="TextLarge01">Home Details</span></td>
                                <td width="10">&nbsp;</td>
                                <td width="138" align="right"></td>
                              </tr>
                              <tr>
                                <td>Date Purchased</td>
                                <td>&nbsp;</td>
                                <td align="right"><span>FEB-95</span></td>
                              </tr>
                              <tr>
                                <td>Purchase Price</td>
                                <td>&nbsp;</td>
                                <td align="right"><span>$1,350,000</span></td>
                              </tr>
                              <tr>
                                <td>Assessed Value</td>
                                <td>&nbsp;</td>
                                <td align="right"><span>$951,470</span></td>
                              </tr>
                              <tr>
                                <td>Living Area</td>
                                <td>&nbsp;</td>
                                <td align="right"><span>2,350 Sq Feet</span></td>
                              </tr>
                              <tr>
                                <td>Lot Size</td>
                                <td>&nbsp;</td>
                                <td align="right"><span>43,560 Sq Feet</span></td>
                              </tr>
                              <tr>
                                <td>Type</td>
                                <td>&nbsp;</td>
                                <td align="right"><span>Single Family</span></td>
                              </tr>
                              <tr>
                                <td>Year Built</td>
                                <td>&nbsp;</td>
                                <td align="right"><span>1976</span></td>
                              </tr>
                              <tr>
                                <td>Current Value</td>
                                <td>&nbsp;</td>
                                <td align="right"><span>$1,350,000</span></td>
                              </tr>
                              <tr>
                                <td>Debt Outstanding</td>
                                <td>&nbsp;</td>
                                <td align="right"><span>990,000</span></td>
                              </tr>
                              <tr>
                                <td>Total Equity (est.)</td>
                                <td>&nbsp;</td>
                                <td align="right"><span>$660,000</span></td>
                              </tr>
                              <tr>
                                <td>Available Equity</td>
                                <td>&nbsp;</td>
                                <td align="right"><span>330,000</span></td>
                              </tr>
                              <tr>
                                <td>Loan to Value Ratio</td>
                                <td>&nbsp;</td>
                                <td align="right"><span>60%</span></td>
                              </tr>
                            </table></td>
						<td width="10" class="CorBg03"></td>
					</tr>
					<tr>
						<td><img src="/images/cor03.gif" alt="" border="0" /></td>
						<td class="CorBg04"></td>
						<td><img src="/images/cor04.gif" alt="" border="0" /></td>
					</tr>
					<tr>
						<td height="10"></td>
					</tr>
					</table>
					
					
					<table width="270" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td><img src="/images/cor01.gif" alt="" border="0" /></td>
						<td class="CorBg01"></td>
						<td><img src="/images/cor02.gif" alt="" border="0" /></td>
					</tr>
					<tr>
						<td width="10" class="CorBg02"></td>
						<td width="250" valign="top">
							<div class="Heading01Divs06"><div><%= render_box_arrow(__FILE__, 'Loan History') %></div></div><br /><br /><br /><br />
							
							<table width="250" border="0" cellspacing="0" cellpadding="0" class="Text01">
							<tr>
							  <td valign="bottom">
									<strong>Date</strong></td>
							  <td width="8"></td>
								<td valign="bottom" align="center">
									<strong>Loan<br />
									Amount</strong></td>
							    <td width="8"></td>
								<td valign="bottom" align="center">
									<strong>Loan<br />
									Type</strong></td>
							  <td width="8"></td>
								<td valign="bottom" align="center">
									<strong>Current<br />
									Rate</strong></td>
							  <td colspan="2"></td>
							  </tr>
							<tr>
								<td valign="top">
									<span class="TextColor01">Feb-95</span></td>
								<td></td>
								<td valign="top" align="center">
									<span>1,080,000</span></td>
								<td></td>
								<td valign="top" align="center">
									<span>Fixed</span></td>
								<td></td>
								<td valign="top" align="center">
									<span>7.00%</span></td>
								<td colspan="2" rowspan="4"></td>
							  </tr>
							<tr>
								<td valign="top">
									<span class="TextColor01">Dec-02</span></td>
								<td></td>
								<td valign="top" align="center">&nbsp;</td>
								<td></td>
								<td valign="top" align="center">
									<span>HELOC</span></td>
								<td></td>
								<td valign="top" align="center">&nbsp;</td>
							  </tr>
							</table></td>
						<td width="10" class="CorBg03"></td>
					</tr>
					<tr>
						<td><img src="/images/cor03.gif" alt="" border="0" /></td>
						<td class="CorBg04"></td>
						<td><img src="/images/cor04.gif" alt="" border="0" /></td>
					</tr>
					<tr>
						<td height="10"></td>
					</tr>
					</table>
					
					
					<table width="270" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td><img src="/images/cor01.gif" alt="" border="0" /></td>
						<td class="CorBg01"></td>
						<td><img src="/images/cor02.gif" alt="" border="0" /></td>
					</tr>
					<tr>
						<td width="10" class="CorBg02"></td>
						<td width="250" valign="top">
							<div class="Heading01Divs06"><div><%= render_box_arrow(__FILE__, 'Campaigns') %></div></div><br /><br />
							<br /><br />
							<table width="250" border="0" cellspacing="0" cellpadding="0" class="Text01">
							<tr>
								<td width="60" valign="top">
									<strong>Date</strong></td>
								<td width="7"></td>
								<td width="183" valign="top">
									<strong>Report</strong></td>
							</tr>
							<tr>
								<td valign="top">
									<a href="#" target="_self" class="Link01">6/30/2008</a></td>
								<td></td>
								<td valign="top">
									<span>Q2 Loan Update - 3018 Alexis Drive</span></td>
							</tr>
							<tr>
								<td valign="top">
									<a href="#" target="_self" class="Link01">6/30/2008</a></td>
								<td></td>
								<td valign="top">
									<span>Q2 Loan Update - 3018 Alexis Drive</span></td>
							</tr>
							<tr>
								<td valign="top">
									<a href="#" target="_self" class="Link01">6/30/2008</a></td>
								<td></td>
								<td valign="top">
									<span>Q2 Loan Update - 3018 Alexis Drive</span></td>
							</tr>
							<tr>
								<td valign="top">
									<a href="#" target="_self" class="Link01">6/30/2008</a></td>
								<td></td>
								<td valign="top">
									<span>Q2 Loan Update - 3018 Alexis Drive</span></td>
							</tr>
							<tr>
								<td valign="top">
									<a href="#" target="_self" class="Link01">6/30/2008</a></td>
								<td></td>
								<td valign="top">
									<span>Q2 Loan Update - 3018 Alexis Drive</span></td>
							</tr>
							</table></td>
						<td width="10" class="CorBg03"></td>
					</tr>
					<tr>
						<td><img src="/images/cor03.gif" alt="" border="0" /></td>
						<td class="CorBg04"></td>
						<td><img src="/images/cor04.gif" alt="" border="0" /></td>
					</tr>
					</table></td>
			  	<td width="10"></td>
				<td width="384" valign="top">
					<table width="384" border="0" cellspacing="0" cellpadding="0">
	    			<tr>
						<td><img src="/images/cor01.gif" alt="" border="0" /></td>
						<td class="CorBg01"></td>
						<td><img src="/images/cor02.gif" alt="" border="0" /></td>
					</tr>
					<tr>
						<td width="10" class="CorBg02"></td>
						<td width="364" valign="top">
							<div class="Heading01Divs03">
							<div><%= render_box_arrow(__FILE__, 'Borrower & Co-Borrower Information') %></div>
							</div><br /><br /><br /><br />
							
							<table width="364" border="0" cellspacing="0" cellpadding="2" class="Text01">
                             <tr>
                     			<td valign="top" colspan="5">
									<div class="TextLarge02">Anne Wilkins / Bob Wilkins<br />
									Financial Snapshot (as of 4/25/2007)</div></td>
                              </tr>
                              <tr>
                                <td height="10"></td>
                              </tr>
                              <tr>
                                <td valign="top">
									<table width="364" border="0" cellspacing="0" cellpadding="2" class="Text01">
                                  <tr>
                                    <td>FICO Scores</td>
                                    <td width="10">&nbsp;</td>
                                    <td align="center"><span>775/722</span></td>
                                  </tr>
                                  <tr>
                                    <td align="left">Base Income</td>
                                    <td>&nbsp;</td>
                                    <td align="center"><span>$19,783</span></td>
                                  </tr>
                                  <tr>
                                    <td align="left">Rental Income</td>
                                    <td>&nbsp;</td>
                                    <td align="center"><span>-</span></td>
                                  </tr>
                                  <tr>
                                    <td align="left">Other</td>
                                    <td style="border-bottom:1px solid #DDD9C3;">&nbsp;</td>
                                    <td align="center" style="border-bottom:1px solid #DDD9C3;"><span>-</span></td>
                                  </tr>
                                  <tr>
                                    <td align="left">Monthly HH Income</td>
                                    <td>&nbsp;</td>
                                    <td align="center"><span>$19,783</span></td>
                                  </tr>
                                  <tr>
                                    <td align="left">&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td align="center">&nbsp;</td>
                                  </tr>
                                  <tr>
                                    <td >Mortgage Payments</td>
                                    <td>&nbsp;</td>
                                    <td align="center"><span>7,185</span></td>
                                  </tr>
                                  <tr>
                                    <td align="left">Other Debt</td>
                                    <td>&nbsp;</td>
                                    <td align="center"><span>2,933</span></td>
                                  </tr>
                                  <tr>
                                    <td align="left">Other Expenses</td>
                                    <td style="border-bottom:1px solid #DDD9C3;">&nbsp;</td>
                                    <td align="center" style="border-bottom:1px solid #DDD9C3;"><span>556</span></td>
                                  </tr>
                                  <tr>
                                    <td align="left">Monthly HH Expenses</td>
                                    <td>&nbsp;</td>
                                    <td height="22" align="center"><span>$10,674</span></td>
                                  </tr>
                                  
                                  <tr>
                                    <td align="left">Debt PMTs to Income</td>
                                    <td>&nbsp;</td>
                                    <td align="center"><span>51.1%</span></td>
                                  </tr>
                                  <tr>
                                    <td align="left">&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td align="center">&nbsp;</td>
                                  </tr>
                                  <tr>
                                    <td align="left">Liquid Assets</td>
                                    <td>&nbsp;</td>
                                    <td align="center"><span>229,509</span></td>
                                  </tr>
                                  <tr>
                                    <td >Property</td>
                                    <td>&nbsp;</td>
                                    <td align="center"><span>1,445,000</span></td>
                                  </tr>
                                  <tr>
                                    <td align="left">Other Assets</td>
                                    <td style="border-bottom:1px solid #DDD9C3;">&nbsp;</td>
                                    <td align="center" style="border-bottom:1px solid #DDD9C3;"><span>250,000</span></td>
                                  </tr>
                                  <tr>
                                    <td align="left">Total Assets</td>
                                    <td>&nbsp;</td>
                                    <td align="center"><span>$1,924,509</span></td>
                                  </tr>
                                  
                                  <tr>
                                    <td align="left">&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td align="center">&nbsp;</td>
                                  </tr>
                                  <tr>
                                    <td align="left">Revolving  Installment Loans</td>
                                    <td>&nbsp;</td>
                                    <td align="center"><span>117,227</span></td>
                                  </tr>
                                  <tr>
                                    <td align="left">Mortgages</td>
                                    <td style="border-bottom:1px solid #DDD9C3;">&nbsp;</td>
                                    <td align="center" style="border-bottom:1px solid #DDD9C3;"><span>844,639</span></td>
                                  </tr>
                                  <tr>
                                    <td align="left">Total Liabilities</td>
                                    <td style="border-bottom:1px solid #DDD9C3;">&nbsp;</td>
                                    <td height="22" align="center" style="border-bottom:1px solid #DDD9C3;"><span>$961,866</span></td>
                                  </tr>
                                  <tr>
                                    <td align="left">Net Worth</td>
                                    <td style="border-bottom:1px solid #DDD9C3;">&nbsp;</td>
                                    <td height="22" align="center" style="border-bottom:1px solid #DDD9C3;"><span>962,643</span></td>
                                  </tr>
                                  <tr>
                                    <td align="left">Tax Rate (est)</td>
                                    <td>&nbsp;</td>
                                    <td align="center"><span>33%</span></td>
                                  </tr>
                                </table></td>
                              </tr>
                            </table>
							
							<table width="364" border="0" cellspacing="0" cellpadding="2" class="Text01">
								<tr>
                                <td height="10"></td>
                              </tr>
                             <tr>
                     			<td valign="top" colspan="5">
									<div class="TextLarge02">Consumer Debt (as of 4/25/2007)</div></td>
                              </tr>
                              <tr>
                                <td height="7"></td>
                              </tr>
                              <tr>
                                <td align="center" valign="top">
									<table width="364" border="0" cellspacing="0" cellpadding="2" class="Text01">
                                  <tr>
                                    <td align="left" >Creditor</td>
                                    <td align="center">Balance</td>
                                    <td align="center">Payment</td>
                                  </tr>
                                  <tr>
                                    <td align="left">MBNA AMERICA BANK NA</td>
                                    <td align="center">$47,118</td>
                                    <td align="center">$612</td>
                                  </tr>
                                  <tr>
                                    <td align="left">CITI</td>
                                    <td align="center">21,771</td>
                                    <td align="center">562</td>
                                  </tr>
                                  <tr>
                                    <td align="left">MONTEREY CREDIT UNION</td>
                                    <td align="center">17,678</td>
                                    <td align="center">856</td>
                                  </tr>
                                  <tr>
                                    <td align="left">BK 1 ARIZONA</td>
                                    <td align="center">11,338</td>
                                    <td align="center">1,240</td>
                                  </tr>
                                  <tr>
                                    <td align="left">BANK OF AMERICA</td>
                                    <td align="center">9,829</td>
                                    <td align="center">352</td>
                                  </tr>
                                  <tr>
                                    <td align="left">CHASE BANK</td>
                                    <td align="center">3,299</td>
                                    <td align="center">458</td>
                                  </tr>
                                  <tr>
                                    <td align="left">CHASE NA</td>
                                    <td align="center">3,299</td>
                                    <td align="center">685</td>
                                  </tr>
                                  <tr>
                                    <td align="left">FIRST USA BANK</td>
                                    <td align="center">2,165</td>
                                    <td align="center">66</td>
                                  </tr>
                                  <tr>
                                    <td align="left">FIRST USA</td>
                                    <td align="center" style="border-bottom:1px solid #DDD9C3;">130</td>
                                    <td align="center" style="border-bottom:1px solid #DDD9C3;">69</td>
                                  </tr>
                                  <tr>
                                    <td align="left"><strong>Total</strong></td>
                                    <td align="center">$117,227</td>
                                    <td align="center">$4,900</td>
                                  </tr>

                                </table></td>
                              </tr>
                            </table></td>
						<td width="10" class="CorBg03"></td>
					</tr>
					<tr>
						<td><img src="/images/cor03.gif" alt="" border="0" /></td>
						<td class="CorBg04"></td>
						<td><img src="/images/cor04.gif" alt="" border="0" /></td>
					</tr>
					</table>
					
		    </td>
				<td width="10"></td>
		  <td width="240" valign="top">
		  <table width="240" border="0" cellspacing="0" cellpadding="0">
<tr>
						<td><img src="/images/cor01.gif" alt="" border="0" /></td>
						<td class="CorBg01"></td>
						<td><img src="/images/cor02.gif" alt="" border="0" /></td>
					</tr>
					<tr>
						<td width="10" class="CorBg02"></td>
						<td valign="top" width="300">
						<div class="Heading01Divs04">
						<div><%= render_box_arrow(__FILE__, 'Current Mortgage Detail') %></div></div><br /><br /><br /><br />
						
						<table width="220" border="0" cellspacing="0" cellpadding="2" class="Text01">
                        <tr>
                          <td align="center">
						  	<table width="220" border="0" cellspacing="0" cellpadding="2" class="Text01">
                            <tr>
                              <td colspan="3" align="left" class="YellowSubHdngText">Primary Loan - <span><strong>30 Year Fixed</strong></span></td>
                            </tr>
                            <tr>
                              <td height="10" colspan="3" ></td>
                            </tr>
                            <tr>
                              <td width="141" align="left" class="YellowSubHdngText">MAE Index</td>
                              <td width="6">&nbsp;</td>
                              <td width="123" align="center" class="YellowSubHdngText">98</td>
                            </tr>
							<tr>
                              <td align="left">Loan Amount</td>
                              <td>&nbsp;</td>
                              <td align="center"><span>1,350,000</span></td>
                            </tr>
                            <tr>
                              <td align="left">Est. Balance</td>
                              <td>&nbsp;</td>
                              <td align="center"><span>1,350,000</span></td>
                            </tr>
                            <tr>
                              <td align="left">Current Payment</td>
                              <td>&nbsp;</td>
                              <td align="center"><span>951,470</span></td>
                            </tr>
                            <tr>
                              <td align="left">Current Interest Rate</td>
                              <td>&nbsp;</td>
                              <td align="center"><span>7.0%</span></td>
                            </tr>
                            <tr>
                              <td align="left">Original Term</td>
                              <td>&nbsp;</td>
                              <td align="center"><span>360 Months</span></td>
                            </tr>
                            <tr>
                              <td align="left">Origination Date</td>
                              <td>&nbsp;</td>
                              <td align="center"><span>FEB-95</span></td>
                            </tr>
                            <tr>
                              <td align="left">Remaining Term</td>
                              <td>&nbsp;</td>
                              <td align="center"><span>197 Months</span></td>
                            </tr>
                            <tr>
                              <td align="left">Completion Date</td>
                              <td>&nbsp;</td>
                              <td align="center"><span>Jan- 25</span></td>
                            </tr>
                            <tr>
                              <td align="left">Interest Due Over Life</td>
                              <td>&nbsp;</td>
                              <td align="center"><span>$1,660,000</span></td>
                            </tr>
                            <tr>
                              <td align="left">Interest Only Term</td>
                              <td>&nbsp;</td>
                              <td align="center"><span>N/A</span></td>
                            </tr>
                            <tr>
                              <td align="left">Next Rate Adjustment</td>
                              <td>&nbsp;</td>
                              <td align="center"><span>N/A</span></td>
                            </tr>
                            <tr>
                              <td align="left">Balloon PMT</td>
                              <td>&nbsp;</td>
                              <td align="center"><span>N/A</span></td>
                            </tr>
                            <tr>
                              <td align="left">Balloon PMT Date</td>
                              <td>&nbsp;</td>
                              <td align="center"><span>N/A</span></td>
                            </tr>
                          </table></td>
                        </tr>
                        <tr>
                          <td height="25" class="Dots">&nbsp;</td>
                        </tr>
                        <tr>
                          <td>
						  
						  	<table width="220" border="0" cellspacing="0" cellpadding="2" class="Text01">
                            <tr>
                              <td height="22" colspan="3" align="left" class="YellowSubHdngText">Second Loan - <span><strong>HELOC</strong></span></td>
                            </tr>
                            <tr>
                              <td height="10" colspan="3" ></td>
                            </tr>
                            <tr>
                              <td width="141" align="left" class="YellowSubHdngText">MAE Index</td>
                              <td width="6">&nbsp;</td>
                              <td width="123" align="center" class="YellowSubHdngText">N/A</td>
                            </tr>
                            <tr>
                              <td align="left">Loan Amount</td>
                              <td>&nbsp;</td>
                              <td align="center"><Span>Unknown</Span></td>
                            </tr>
                            <tr>
                              <td align="left">Est. Balance</td>
                              <td>&nbsp;</td>
                              <td align="center"><Span>Unknown</Span></td>
                            </tr>
                            <tr>
                              <td align="left">Current Payment</td>
                              <td>&nbsp;</td>
                              <td align="center"><Span>Unknown</Span></td>
                            </tr>
                            <tr>
                              <td align="left">Current Interest Rate</td>
                              <td>&nbsp;</td>
                              <td align="center"><Span>Unknown</Span></td>
                            </tr>
                            <tr>
                              <td align="left">Original Term</td>
                              <td>&nbsp;</td>
                              <td align="center"><span>120 Months</span></td>
                            </tr>
                            <tr>
                              <td align="left">Origination Date</td>
                              <td>&nbsp;</td>
                              <td align="center"><span>DEC-02</span></td>
                            </tr>
                            <tr>
                              <td align="left">Remaining Term</td>
                              <td>&nbsp;</td>
                              <td align="center"><span>Revolving</span></td>
                            </tr>
                            <tr>
                              <td align="left">Completion Date</td>
                              <td>&nbsp;</td>
                              <td align="center"><span>NOV-12</span></td>
                            </tr>
                            <tr>
                              <td align="left">Interest Due Over Life</td>
                              <td>&nbsp;</td>
                              <td align="center"><span>N/A</span></td>
                            </tr>
                            <tr>
                              <td align="left">Interest Only Term</td>
                              <td>&nbsp;</td>
                              <td align="center"><span>N/A</span></td>
                            </tr>
                            <tr>
                              <td align="left">Next Rate Adjustment</td>
                              <td>&nbsp;</td>
                              <td align="center"><span>N/A</span></td>
                            </tr>
                            <tr>
                              <td align="left">Balloon PMT</td>
                              <td>&nbsp;</td>
                              <td align="center"><span>N/A</span></td>
                            </tr>
                            <tr>
                              <td align="left">Balloon PMT Date</td>
                              <td>&nbsp;</td>
                              <td align="center"><span>N/A</span></td>
                            </tr>
                          </table></td>
                        </tr>
                      </table></td>
					  <td width="10" class="CorBg03"></td>
					</tr>
					<tr>
						<td><img src="/images/cor03.gif" alt="" border="0" /></td>
						<td class="CorBg04"></td>
						<td><img src="/images/cor04.gif" alt="" border="0" /></td>
					</tr>
					</table>
					
</td>
			</tr>
			</table>