<table width="914"  border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td valign="top" with="634">
						<table width="634" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td><img src="/images/cor01.gif" alt="" border="0" /></td>
							<td class="CorBg01"></td>
							<td><img src="/images/cor02.gif" alt="" border="0" /></td>
						</tr>
						<tr>
							<td width="10" class="CorBg02"></td>
							<td width="614" valign="top">
								<div class="Heading01Divs07"><div>
							<%= render_box_arrow(__FILE__, 'Rate Risk Opportunity') %></div></div><br /><br />
								
								<table width="614" border="0" cellspacing="0" cellpadding="0" class="Text01">
								<tr>
									<td valign="middle">
										<table width="614" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td valign="middle" width="50%">
												<div class="TextLarge03">Anne Wilkins / Bob Wilkins</div>
												<div class="TextLarge02">3108 Alexis Drive, Palo Alto, CA 94304-1306</div></td>
											<td valign="middle" width="50%" align="right">
												<div class="BtnOval"><div class="Text"><a href="#" target="_self">25<br />MAE</a></div></div></td>
										</tr>
										<tr>
											<td colspan="2" height="20"></td>
										</tr>
										</table></td>
								</tr>
								<tr>
									<td valign="top">
										<table width="614" border="0" cellspacing="0" cellpadding="2">
										<tr>
											<td valign="top" colspan="15">
												<div class="Heading02">Rate Risk Analysis</div>
										</tr>
										<tr>
											<td valign="middle" colspan="3" class="Row01" align="center"><span>Current Loan Information</span></td>
											<td>&nbsp;</td>
											<td valign="middle" colspan="5" class="Row01" align="center"><span>Forecasted Loan Information</span></td>
										</tr>
										<tr>
											<td valign="middle"><span>Loan Type</span></td>
											<td width="10"></td>
											<td valign="middle" align="center"><span>3 / 1 ARM</span></td>
											<td width="10"></td>
											<td valign="middle" align="right"><span>Date of Next PMT Increase:</span></td>
											<td width="10"></td>
											<td valign="middle" align="center"><span>4/1/2012</span></td>
											<td width="10"></td>
											<td valign="middle" align="center"><span>39 months</span></td>
										</tr>
										<tr>
											<td valign="middle"><span>Close Date</span></td>
											<td width="10"></td>
											<td valign="middle" align="center"><span>Apr-06</span></td>
											<td></td>
											<td valign="middle" align="right"><span>Rate at Next PMT Increase:</span></td>
											<td></td>
											<td valign="middle" align="center">0.00%</td>
											<td></td>
											<td valign="middle" align="center">+0.00%</td>
										</tr>
										<tr>
											<td valign="middle"><span>Loan Term</span></td>
											<td></td>
											<td valign="middle" align="center"><span>3 / 1 ARM</span></td>
											<td></td>
											<td valign="middle" align="right"><span>Increased PMT at Next Increase:</span></td>
											<td></td>
											<td valign="middle" align="center">S0,000</td>
											<td></td>
											<td valign="middle" align="center">+$000.00</td>
										</tr>
										<tr>
											<td valign="middle"><span>Remaining Term</span></td>
											<td></td>
											<td valign="middle" align="center"><span>3 / 1 ARM</span></td>
											<td></td>
											<td valign="middle" align="right"><span>Maximum PMT Over Life of Loan:</span></td>
											<td></td>
											<td valign="middle" align="center">S0,000</td>
											<td></td>
											<td valign="middle" align="center">+$000.00</td>
										</tr>
										<tr>
											<td valign="middle"><span>Original Balance</span></td>
											<td></td>
											<td valign="middle" align="center"><span>3 / 1 ARM</span></td>
											<td></td>
											<td valign="middle" align="right"><span>Maximum Rate Over Life of Loan:</span></td>
											<td></td>
											<td valign="middle" align="center">S0,000</td>
											<td></td>
											<td valign="middle" align="center">+$000.00</td>
										</tr>
										<tr>
											<td valign="middle"><span>Initial Rate</span></td>
											<td></td>
											<td valign="middle" align="center"><span>3 / 1 ARM</span></td>
											<td></td>
											<td valign="middle" align="right"><span>Date of Maximum Interest Rate:</span></td>
											<td></td>
											<td valign="middle" align="center">S0,000</td>
											<td></td>
											<td valign="middle" align="center">+$000.00</td>
										</tr>
										<tr>
											<td valign="middle"><span>Initial PMT</span></td>
											<td></td>
											<td valign="middle" align="center"><span>3 / 1 ARM</span></td>
											<td></td>
											<td valign="middle" align="right"></td>
											<td></td>
											<td valign="middle" align="center"></td>
											<td></td>
											<td valign="middle" align="center"></td>
										</tr>
										<tr>
											<td height="30"></td>
										</tr>
										</table>
										
										<table width="614" border="0" cellspacing="0" cellpadding="2" class="Text01">
										<tr>
											<td valign="top" colspan="13">
												<div class="Heading02">Forecasted Rate Analysis</div></td>
										</tr>
										<tr>
											<td valign="middle"></td>
											<td width="10">&nbsp;</td>
											<td valign="middle" align="center" class="Row01"><span>Current</span></td>
											<td width="10">&nbsp;</td>
											<td valign="middle" align="center" class="Row01" colspan="9"><span>Forecasted ARM Rates</span></td>
										</tr>
										<tr>
											<td valign="middle"><span>Date</span></td>
											<td>&nbsp;</td>
											<td valign="middle" align="center" style="border-bottom:1px solid #DDD9C3;"><span>Jan-09</span></td>
											<td>&nbsp;</td>
											<td valign="middle" align="center" style="border-bottom:1px solid #DDD9C3;"><span>Apr-09</span></td>
											<td>&nbsp;</td>
											<td valign="middle" align="center" style="border-bottom:1px solid #DDD9C3;"><span>Apr-10</span></td>
											<td>&nbsp;</td>
											<td valign="middle" align="center" style="border-bottom:1px solid #DDD9C3;"><span>Apr-11</span></td>
											<td>&nbsp;</td>
											<td valign="middle" align="center" style="border-bottom:1px solid #DDD9C3;"><span>Apr-12</span></td>
											<td>&nbsp;</td>
											<td valign="middle" align="center" style="border-bottom:1px solid #DDD9C3;"><span>Apr-13</span></td>
										</tr>
										<tr>
											<td valign="middle"><span>Current Rate</span></td>
											<td>&nbsp;</td>
											<td valign="middle" align="center">$ 000,000</td>
											<td align="center">&nbsp;</td>
	<td valign="middle" align="center">$ 000,000</td>
											<td align="center">&nbsp;</td>
											<td valign="middle" align="center">$ 000,000</td>
											<td align="center">&nbsp;</td>
											<td valign="middle" align="center">$ 000,000</td>
											<td align="center">&nbsp;</td>
											<td valign="middle" align="center">$ 000,000</td>
											<td align="center">&nbsp;</td>
											<td valign="middle" align="center">$ 000,000</td>
										</tr>
										<tr>
											<td valign="middle"><span>Current PMT</span></td>
											<td>&nbsp;</td>
											<td valign="middle" align="center">$0.00%</td>
											<td>&nbsp;</td>
											<td valign="middle" align="center">$0.00%</td>
											<td>&nbsp;</td>
											<td valign="middle" align="center">$0.00%</td>
											<td>&nbsp;</td>
											<td valign="middle" align="center">$0.00%</td>
											<td>&nbsp;</td>
											<td valign="middle" align="center">$0.00%</td>
											<td>&nbsp;</td>
											<td valign="middle" align="center">$0.00%</td>
										</tr>
										<tr>
											<td valign="middle"><span>Change From Current PMT</span></td>
											<td>&nbsp;</td>
											<td valign="middle" align="center"></td>
											<td>&nbsp;</td>
											<td valign="middle" align="center">($0.00%)</td>
											<td>&nbsp;</td>
											<td valign="middle" align="center">($0.00%)</td>
											<td>&nbsp;</td>
											<td valign="middle" align="center">($0.00%)</td>
											<td>&nbsp;</td>
											<td valign="middle" align="center">($0.00%)</td>
											<td>&nbsp;</td>
											<td valign="middle" align="center">($0.00%)</td>
										</tr>
										<tr>
											<td valign="middle"><span>Loan Balance</span></td>
											<td>&nbsp;</td>
											<td valign="middle" align="center"></td>
											<td>&nbsp;</td>
											<td valign="middle" align="center">($0.00%)</td>
											<td>&nbsp;</td>
											<td valign="middle" align="center">($0.00%)</td>
											<td>&nbsp;</td>
											<td valign="middle" align="center">($0.00%)</td>
											<td>&nbsp;</td>
											<td valign="middle" align="center">($0.00%)</td>
											<td>&nbsp;</td>
											<td valign="middle" align="center">($0.00%)</td>
										</tr>
										<tr>
											<td valign="middle"><span>Equity Fixed Rate*</span></td>
											<td>&nbsp;</td>
											<td valign="middle" align="center">$0,000,000</td>
											<td>&nbsp;</td>
											<td valign="middle" align="center">$0,000,000</td>
											<td>&nbsp;</td>
											<td valign="middle" align="center">$0,000,000</td>
											<td>&nbsp;</td>
											<td valign="middle" align="center">$0,000,000</td>
											<td>&nbsp;</td>
											<td valign="middle" align="center">$0,000,000</td>
											<td>&nbsp;</td>
											<td valign="middle" align="center">$0,000,000</td>
										</tr>
										<tr>
											<td height="10"></td>
										</tr>
										<tr>
											<td colspan="2"></td>
											<td valign="middle" colspan="11">
												* Represents the equivalent rate of interest if the forecasted payments were calculated using a fixed (instead of adjustable) interest rate.</td>
										</tr>
									  </table></td>
								</tr>
								</table></td>
							<td width="10" class="CorBg03"></td>
						</tr>
						<tr>
							<td><img src="/images/cor03.gif" alt="" border="0" /></td>
							<td class="CorBg04"></td>
							<td><img src="/images/cor04.gif" alt="" border="0" /></td>
						</tr>
						</table>
						
						<table width="634" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td height="10"></td>
						</tr>
						</table>
						
						<table width="634" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td><img src="/images/cor01.gif" alt="" border="0" /></td>
							<td class="CorBg01"></td>
							<td><img src="/images/cor02.gif" alt="" border="0" /></td>
						</tr>
						<tr>
							<td width="10" class="CorBg02"></td>
							<td width="614" valign="top">
								<div class="Heading01Divs07"><div>
							<%= render_box_arrow(__FILE__, 'Refinance Opportunity') %></div></div><br /><br />
								
								<table width="614" border="0" cellspacing="0" cellpadding="0" class="Text01">
								<tr>
									<td valign="top">
										<table width="614" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td valign="top">
												<table width="614" border="0" cellspacing="0" cellpadding="2">
												<tr>
													<td valign="top" colspan="13">
														<div class="TextLink01"><img src="/images/editdefaults_i.gif" alt="" border="0" /><a href="#" target="_self">Edit Loan Assumptions</a></div></td>
												</tr>
												<tr>
													<td height="10"></td>
												</tr>
												<tr>
													<td valign="middle"></td>
													<td></td>
													<td valign="middle" align="center"><span>Current Loan</span></td>
													<td></td>
													<td valign="middle" align="center" class="Row01" colspan="9"><span>Refinancing Options</span></td>
												</tr>
												<tr>
													<td valign="middle"><span>Loan Type</span></td>
													<td width="10"></td>
													<td valign="middle" align="center" style="border-bottom:1px solid #DDD9C3;"><span>3 / 1 ARM</span></td>
													<td width="10"></td>
													<td valign="middle" align="center" style="border-bottom:1px solid #DDD9C3;"><span>5 / 1 ARM</span></td>
													<td width="10"></td>
													<td valign="middle" align="center" style="border-bottom:1px solid #DDD9C3;"><span>7 / 1 ARM</span></td>
													<td width="10"></td>
													<td valign="middle" align="center" style="border-bottom:1px solid #DDD9C3;"><span>15 Yr Fixed</span></td>
													<td width="10"></td>
													<td valign="middle" align="center" style="border-bottom:1px solid #DDD9C3;"><span>20 Yr Fixed</span></td>
													<td width="10"></td>
													<td valign="middle" align="center" style="border-bottom:1px solid #DDD9C3;"><span>30 Yr Fixed</span></td>
												</tr>
												<tr>
													<td valign="middle"><span>Loan Balance</span></td>
													<td></td>
													<td valign="middle" align="right">$ 000,000</td>
													<td></td>
													<td valign="middle" align="right">$ 000,000</td>
													<td></td>
													<td valign="middle" align="right">$ 000,000</td>
													<td></td>
													<td valign="middle" align="right">$ 000,000</td>
													<td></td>
													<td valign="middle" align="right">$ 000,000</td>
													<td></td>
													<td valign="middle" align="right">$ 000,000</td>
												</tr>
												<tr>
													<td valign="middle"><span>Closing Costs</span></td>
													<td></td>
													<td valign="middle" align="right" style="border-bottom:1px solid #DDD9C3;"><span>&nbsp;</span></td>
													<td></td>
													<td valign="middle" align="right" style="border-bottom:1px solid #DDD9C3;">000,000</td>
													<td></td>
																<td valign="middle" align="right" style="border-bottom:1px solid #DDD9C3;">000,000</td>
													<td></td>
																<td valign="middle" align="right" style="border-bottom:1px solid #DDD9C3;">000,000</td>
													<td></td>
																<td valign="middle" align="right" style="border-bottom:1px solid #DDD9C3;">000,000</td>
													<td></td>
																<td valign="middle" align="right" style="border-bottom:1px solid #DDD9C3;">000,000</td>
												</tr>
												<tr>
													<td valign="middle"><span>New Loan</span></td>
													<td></td>
													<td valign="middle" align="right">$ 000,000</td>
													<td></td>
													<td valign="middle" align="right">$ 000,000</td>
													<td></td>
													<td valign="middle" align="right">$ 000,000</td>
													<td></td>
													<td valign="middle" align="right">$ 000,000</td>
													<td></td>
													<td valign="middle" align="right">$ 000,000</td>
													<td></td>
													<td valign="middle" align="right">$ 000,000</td>
												</tr>
												<tr>
													<td valign="middle"><span>Interest Rate</span></td>
													<td></td>
													<td valign="middle" align="right">0.00%</td>
													<td></td>
														<td valign="middle" align="right">0.00%</td>
													<td></td>
														<td valign="middle" align="right">0.00%</td>
													<td></td>
														<td valign="middle" align="right">0.00%</td>
													<td></td>
														<td valign="middle" align="right">0.00%</td>
													<td></td>
														<td valign="middle" align="right">0.00%</td>
												</tr>
												<tr>
													<td valign="middle"><span>Monthly Payment</span></td>
													<td></td>
													<td valign="middle" align="right">$ 000,000</td>
													<td></td>
													<td valign="middle" align="right">$ 000,000</td>
													<td></td>
													<td valign="middle" align="right">$ 000,000</td>
													<td></td>
													<td valign="middle" align="right">$ 000,000</td>
													<td></td>
													<td valign="middle" align="right">$ 000,000</td>
													<td></td>
													<td valign="middle" align="right">$ 000,000</td>
												</tr>
												<tr>
													<td valign="middle"><span>Monthly Savings Opportunity</span></td>
													<td></td>
													<td valign="middle" align="right">&nbsp;</td>
													<td></td>
													<td valign="middle" align="right">$ 000,000</td>
													<td></td>
													<td valign="middle" align="right">$ 000,000</td>
													<td></td>
													<td valign="middle" align="right">$ (000,000)</td>
													<td></td>
													<td valign="middle" align="right">$ (000,000)</td>
													<td></td>
													<td valign="middle" align="right">$ (000,000)</td>
												</tr>
												<tr>
													<td height="10"></td>
												</tr>
												<tr>
													<td valign="middle" style="border-bottom:1px solid #DDD9C3;"><span><strong>Total Payments</strong></span></td>
													<td colspan="12">&nbsp;</td>
												</tr>
												<tr>
													<td valign="middle"><span>Principal</span></td>
													<td></td>
													<td valign="middle" align="right">$ 000,000</td>
													<td></td>
													<td valign="middle" align="right">$ 000,000</td>
													<td></td>
													<td valign="middle" align="right">$ 000,000</td>
													<td></td>
													<td valign="middle" align="right">$ 000,000</td>
													<td></td>
													<td valign="middle" align="right">$ 000,000</td>
													<td></td>
													<td valign="middle" align="right">$ 000,000</td>
												</tr>
												<tr>
													<td valign="middle"><span>Interest</span></td>
													<td></td>
													<td valign="middle" align="right" style="border-bottom:1px solid #DDD9C3;">000,000</td>
													<td></td>
															<td valign="middle" align="right" style="border-bottom:1px solid #DDD9C3;">000,000</td>
													<td></td>
															<td valign="middle" align="right" style="border-bottom:1px solid #DDD9C3;">000,000</td>
													<td></td>
															<td valign="middle" align="right" style="border-bottom:1px solid #DDD9C3;">000,000</td>
													<td></td>
															<td valign="middle" align="right" style="border-bottom:1px solid #DDD9C3;">000,000</td>
													<td></td>
															<td valign="middle" align="right" style="border-bottom:1px solid #DDD9C3;">000,000</td>
												</tr>
												<tr>
													<td valign="middle"><span>Total</span></td>
													<td></td>
													<td valign="middle" align="right">$ 000,000</td>
													<td></td>
													<td valign="middle" align="right">$ 000,000</td>
													<td></td>
													<td valign="middle" align="right">$ 000,000</td>
													<td></td>
													<td valign="middle" align="right">$ 000,000</td>
													<td></td>
													<td valign="middle" align="right">$ 000,000</td>
													<td></td>
													<td valign="middle" align="right">$ 000,000</td>
												</tr>
												<tr>
													<td valign="middle"><span>NPV @ 7%</span></td>
													<td></td>
													<td valign="middle" align="right" style="border-bottom:1px solid #DDD9C3;">000,000</td>
													<td></td>
													<td valign="middle" align="right" style="border-bottom:1px solid #DDD9C3;">000,000</td>
													<td></td>
													<td valign="middle" align="right" style="border-bottom:1px solid #DDD9C3;">000,000</td>
													<td></td>
													<td valign="middle" align="right" style="border-bottom:1px solid #DDD9C3;">000,000</td>
													<td></td>
													<td valign="middle" align="right" style="border-bottom:1px solid #DDD9C3;">000,000</td>
													<td></td>
													<td valign="middle" align="right" style="border-bottom:1px solid #DDD9C3;">000,000</td>
												</tr>
												<tr>
													<td valign="middle"><span>NPV Savings Over Life of Loan</span></td>
													<td></td>
													<td valign="middle" align="right">&nbsp;</td>
													<td></td>
													<td valign="middle" align="right">($000,000)</td>
													<td></td>
													<td valign="middle" align="right">($000,000)</td>
													<td></td>
													<td valign="middle" align="right">($000,000)</td>
													<td></td>
													<td valign="middle" align="right">($000,000)</td>
													<td></td>
													<td valign="middle" align="right">($000,000)</td>
												</tr>
												<tr>
													<td valign="middle"><span>APR</span></td>
													<td></td>
													<td valign="middle" align="right"></td>
													<td></td>
													<td valign="middle" align="right">0.00%</td>
													<td></td>
													<td valign="middle" align="right">0.00%</td>
													<td></td>
													<td valign="middle" align="right">0.00%</td>
													<td></td>
													<td valign="middle" align="right">0.00%</td>
													<td></td>
													<td valign="middle" align="right">0.00%</td>
												</tr>
												<tr>
													<td valign="middle"><span>Include In Report</span></td>
													<td></td>
													<td valign="middle" align="center"></td>
													<td></td>
													<td valign="middle" align="right"><input type="checkbox" /></td>
													<td></td>
													<td valign="middle" align="right"><input type="checkbox" /></td>
													<td></td>
													<td valign="middle" align="right"><input type="checkbox" /></td>
													<td></td>
													<td valign="middle" align="right"><input type="checkbox" /></td>
													<td></td>
													<td valign="middle" align="right"><input type="checkbox" /></td>
												</tr>
												</table>
												
												<table width="614" border="0" cellspacing="0" cellpadding="2">
												<tr>
													<td height="10"></td>
												</tr>
												<tr>
													<td valign="middle" width="50%"><a href="#" target="_self"><img src="/images/btn_generatereport.gif" alt="" border="0" /></a></td>
													<td valign="middle" width="50%" align="right"><%= link_to image_tag("/images/btn_viewpage2_hh.gif" ,:alt=>"View HH Summary",:border=>"0"),:action => "hh_summary" %></td>
												</tr>
												</table></td>
										</tr>
										</table></td>
								</tr>
								</table></td>
							<td width="10" class="CorBg03"></td>
						</tr>
						<tr>
							<td><img src="/images/cor03.gif" alt="" border="0" /></td>
							<td class="CorBg04"></td>
							<td><img src="/images/cor04.gif" alt="" border="0" /></td>
						</tr>
						</table></td>
					<td width="10"></td>
					<td width="270" valign="top">
						<table width="270" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td><img src="/images/cor01.gif" alt="" border="0" /></td>
							<td class="CorBg01"></td>
							<td><img src="/images/cor02.gif" alt="" border="0" /></td>
						</tr>
						<tr>
							<td width="10" class="CorBg02"></td>
							<td width="250" valign="top">
								<div class="Heading01Divs06"><%= render_box_arrow(__FILE__, 'Short-Term Index Forecast') %></div></div><br /><br /><br /><br />
								
								<table width="250" border="0" cellspacing="0" cellpadding="0" class="Text01">
								<tr>
									<td colspan="3"><strong>Forecasted MTA Index</strong></td>
								</tr>
								<tr>
									<td height="10"></td>
								</tr>
								<tr>
									<td valign="top" width="145">Choose Loan To Compare To:</td>
									<td width="5"></td>
									<td valign="top" width="100">
										<select class="Combo05">
											<option>5 / 1 ARM</option>
											<option>7 / 1 ARM</option>
											<option>15 Year Fixed</option>
											<option>20 Year Fixed</option>
											<option>30 Year Fixed</option>
										</select></td>
								</tr>
								<tr>
									<td height="10"></td>
								</tr>
								<tr>
									<td valign="top" colspan="3"><img src="/images/oppotunities_graph20.gif" alt="" border="0" /></td>
								</tr>
								</table></td>
							<td width="10" class="CorBg03"></td>
						</tr>
						<tr>
							<td><img src="/images/cor03.gif" alt="" border="0" /></td>
							<td class="CorBg04"></td>
							<td><img src="/images/cor04.gif" alt="" border="0" /></td>
						</tr>
						</table>
						
						<table width="270" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td height="10"></td>
						</tr>
						</table>
						
						<table width="270" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td><img src="/images/cor01.gif" alt="" border="0" /></td>
							<td class="CorBg01"></td>
							<td><img src="/images/cor02.gif" alt="" border="0" /></td>
						</tr>
						<tr>
							<td width="10" class="CorBg02"></td>
							<td width="250" valign="top">
								<div class="Heading01Divs06"><%= render_box_arrow(__FILE__, 'Projected Payment Forecast') %></div><br /><br /><br /><br />
								
								<table width="250" border="0" cellspacing="0" cellpadding="0" class="Text01">
								<tr>
									<td valign="top" width="145">Choose Loan To Compare To:</td>
									<td width="5"></td>
									<td valign="top" width="100">
										<select class="Combo05">
											<option>5 / 1 ARM</option>
											<option>7 / 1 ARM</option>
											<option>15 Year Fixed</option>
											<option>20 Year Fixed</option>
											<option>30 Year Fixed</option>
										</select></td>
								</tr>
								<tr>
									<td height="10"></td>
								</tr>
								<tr>
									<td valign="top" colspan="3"><img src="/images/oppotunities_graph21.gif" alt="" border="0" /></td>
								</tr>
								</table></td>
							<td width="10" class="CorBg03"></td>
						</tr>
						<tr>
							<td><img src="/images/cor03.gif" alt="" border="0" /></td>
							<td class="CorBg04"></td>
							<td><img src="/images/cor04.gif" alt="" border="0" /></td>
						</tr>
						</table>
						
						<table width="270" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td height="10"></td>
						</tr>
						</table>
						
						<table width="270" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td><img src="/images/cor01.gif" alt="" border="0" /></td>
							<td class="CorBg01"></td>
							<td><img src="/images/cor02.gif" alt="" border="0" /></td>
						</tr>
						<tr>
							<td width="10" class="CorBg02"></td>
							<td width="250" valign="top">
								<div class="Heading01Divs06"><div style="word-spacing:-3px;"><%= render_box_arrow(__FILE__, 'Long-Term Payment Forecast') %></div></div><br /><br /><br /><br />
								
								<table width="250" border="0" cellspacing="0" cellpadding="0" class="Text01">
								<tr>
									<td valign="top"><img src="/images/oppotunities_graph22.gif" alt="" border="0" /></td>
								</tr>
								</table></td>
							<td width="10" class="CorBg03"></td>
						</tr>
						<tr>
							<td><img src="/images/cor03.gif" alt="" border="0" /></td>
							<td class="CorBg04"></td>
							<td><img src="/images/cor04.gif" alt="" border="0" /></td>
						</tr>
						</table></td>
				</tr>
				</table>