<table width="914"  border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td valign="top" colspan="3">
						<table width="914" border="0" cellspacing="0" cellpadding="0" class="Text01">
						<tr>
							<td height="5"></td>
						</tr>
						<tr>
							<td valign="middle">
								<div class="TextLarge03">Anne Wilkins / Bob Wilkins (cont.)</div>
								<div class="TextLarge02">3108 Alexis Drive, Palo Alto, CA 94304-1306</div></td>
							<td valign="middle" align="right">
								<%= link_to image_tag("/images/btn_returntopage2.gif", :alt=>"View Loan Option2" ,:border=>"0"),:action => "loan_option2"%></td>
						</tr>
						<tr>
							<td height="15"></td>
						</tr>
						</table></td>
				</tr>
				<tr>
					<td valign="top" with="914">					
								
						<table width="914" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td><img src="/images/cor01.gif" alt="" border="0" /></td>
							<td class="CorBg01"></td>
							<td><img src="/images/cor02.gif" alt="" border="0" /></td>
						</tr>
						<tr>
							<td width="10" class="CorBg02"></td>
							<td width="894" valign="top">
								<div class="Heading01Divs02">
								<div><%= render_box_arrow(__FILE__, 'Comparison of Retirement Planning Loan Options') %></div>
							  </div><br /><br />
								
								<table width="894" border="0" cellspacing="0" cellpadding="0" class="Text01">
								<tr>
									<td valign="top" width="425">
										<table width="425" border="0" cellspacing="0" cellpadding="0" height="220">
										<tr>
											<td valign="top"> 
										
										<table width="425" border="0" cellspacing="0" cellpadding="2">
										<tr>
											<td valign="middle" colspan="13" height="40">
												<div class="Heading02">Projected Asset Accumulation of Refinance Proceeds</div></td>
										</tr>
										<tr>
											<td valign="middle"></td>
											<td></td>
											<td valign="middle" align="center" class="Row01" colspan="9"><span>Option 1 - Cash Out Refinance</span></td>
										</tr>
										<tr>
											<td valign="bottom" align="right"></td>
											<td width="10"></td>
											<td valign="bottom" align="right">0.00%</td>
											<td width="10"></td>
											<td valign="bottom" align="right">0.00%</td>
											<td width="10"></td>
											<td valign="bottom" align="right">0.00%</td>
											<td width="10"></td>
											<td valign="bottom" align="right">0.00%</td>
											<td width="10"></td>
											<td valign="bottom" align="right">0.00%</td>
										</tr>
										<tr>
											<td valign="middle" align="right">Year 1</td>
											<td></td>
											<td align="right" valign="middle" class="Row02">$000,000</td>
											<td></td>
														<td align="right" valign="middle" class="Row02">$000,000</td>
											<td></td>
													<td align="right" valign="middle" class="Row02">$000,000</td>
											<td></td>
																				<td align="right" valign="middle" class="Row02">$000,000</td>
											<td></td>
																				<td align="right" valign="middle" class="Row02">$000,000</td>
										</tr>
										<tr>
											<td valign="middle" align="right">Year 3</td>
											<td>&nbsp;</td>
																				<td align="right" valign="middle" class="Row01">$000,000</td>
											<td class="Row01">&nbsp;</td>
																				<td align="right" valign="middle" class="Row01">$000,000</td>
											<td class="Row01">&nbsp;</td>
																				<td align="right" valign="middle" class="Row01">$000,000</td>
											<td class="Row01">&nbsp;</td>
																				<td align="right" valign="middle" class="Row01">$000,000</td>
											<td class="Row01">&nbsp;</td>
																				<td align="right" valign="middle" class="Row01">$000,000</td>
										</tr>
										<tr>
											<td valign="middle" align="right">Year 5</td>
											<td></td>
																				<td align="right" valign="middle" class="Row02">$000,000</td>
											<td></td>
																				<td align="right" valign="middle" class="Row02">$000,000</td>
											<td></td>
																				<td align="right" valign="middle" class="Row02">$000,000</td>
											<td></td>
																				<td align="right" valign="middle" class="Row02">$000,000</td>
											<td></td>
																				<td align="right" valign="middle" class="Row02">$000,000</td>
										</tr>
										<tr>
											<td valign="middle" align="right">Year 10</td>
											<td>&nbsp;</td>
																				<td align="right" valign="middle" class="Row01">$000,000</td>
											<td class="Row01">&nbsp;</td>
																				<td align="right" valign="middle" class="Row01">$000,000</td>
											<td class="Row01">&nbsp;</td>
																				<td align="right" valign="middle" class="Row01">$000,000</td>
											<td class="Row01">&nbsp;</td>
																		<td align="right" valign="middle" class="Row01">$000,000</td>
											<td class="Row01">&nbsp;</td>
																		<td align="right" valign="middle" class="Row01">$000,000</td>
										</tr>
										<tr>
											<td valign="middle" align="right">Year 12</td>
											<td></td>
																		<td align="right" valign="middle" class="Row02">$000,000</td>
											<td></td>
																		<td align="right" valign="middle" class="Row02">$000,000</td>
											<td></td>
																		<td align="right" valign="middle" class="Row02">$000,000</td>
											<td></td>
																		<td align="right" valign="middle" class="Row02">$000,000</td>
											<td></td>
																		<td align="right" valign="middle" class="Row02">$000,000</td>
										</tr>
										</table>
												</td>
										</tr>
										</table>
										
										<table width="425" border="0" cellspacing="0" cellpadding="2">
										<tr>
											<td valign="middle" colspan="11" height="50">
									<div style="text-align:center;">
									<%= render_box_arrow(__FILE__, 'Future Value of Refinance Proceeds vs. Total Retirement Cost','Heading02') %>
									</div>
											</td>
										</tr>
										<tr>
											<td valign="middle" colspan="11" align="center">
												<span>Option 1 - Cash Out Refinance & Invest Lump Sum</span></td>
										</tr>
										<tr>
											<td height="5"></td>
										</tr>
										<tr>
											<td valign="top" colspan="11"><img src="/images/oppotunities_graph17.gif" alt="" border="0" /></td>
										</tr>
										<tr>
											<td height="40"></td>
										</tr>
										</table>
										
										<table width="425" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td valign="middle" colspan="3">
									<div style="text-align:center;"><%= render_box_arrow(__FILE__, 'Loan Balance Over Time (select Loan Option to Compare)','Heading02') %></div>	
									</td>
										</tr>
										<tr>
											<td valign="middle">
												<select class="Combo04">
													<option>Option 1: 5 / 1 ARM</option>
													<option>Option 1: 7 / 1 ARM</option>
													<option>Option 1: 15 Year Fixed</option>
													<option>Option 1: 20 Year Fixed</option>
													<option>Option 1: 30 Year Fixed</option>
												</select></td>
											<td width="10"></td>
											<td valign="middle">
												<select class="Combo04">
													<option>Option 2: 5 / 1 ARM</option>
													<option>Option 2: 7 / 1 ARM</option>
													<option>Option 2: 15 Year Fixed</option>
													<option>Option 2: 20 Year Fixed</option>
													<option>Option 2: 30 Year Fixed</option>
												</select></td>										
										</tr>
										<tr>
											<td height="20"></td>
										</tr>
										<tr>
											<td valign="top" colspan="3"><img src="/images/oppotunities_graph19.gif" alt="" border="0" /></td>
										</tr>
										</table></td>
									<td width="44"></td>
									<td width="425" valign="top">
										<table width="425" border="0" cellspacing="0" cellpadding="0" height="220">
										<tr>
											<td valign="top"> 
										
										<table width="425" border="0" cellspacing="0" cellpadding="2">
										<tr>
											<td valign="middle" colspan="11" align="right" height="40">
												<table border="0" cellspacing="0" cellpadding="2">
												<tr>
													<td valign="middle">
														Select Loan to Compare</td>
													<td width="6"></td>
													<td valign="middle" width="200">
														<select class="Combo04">
															<option>30 Yr Fixed - Savings of $719</option>
														</select></td>
													
												</tr>
												</table></td>
										</tr>
										<tr>
											<td valign="middle"></td>
											<td></td>
											<td valign="middle" align="center" class="Row01" colspan="9"><span>Option 2 - Refinance and Invest Monthly Savings</span></td>
										</tr>
										<tr>
											<td valign="bottom" align="right"></td>
											<td width="10"></td>
											<td valign="bottom" align="right">0.00%</td>
											<td width="10"></td>
											<td valign="bottom" align="right">0.00%</td>
											<td width="10"></td>
											<td valign="bottom" align="right">0.00%</td>
											<td width="10"></td>
											<td valign="bottom" align="right">0.00%</td>
											<td width="10"></td>
											<td valign="bottom" align="right">0.00%</td>
										</tr>
										<tr>
											<td valign="middle" align="right">Year 1</td>
											<td>&nbsp;</td>
																		<td align="right" valign="middle" class="Row02">$000,000</td>
											<td>&nbsp;</td>
																		<td align="right" valign="middle" class="Row02">$000,000</td>
											<td>&nbsp;</td>
																		<td align="right" valign="middle" class="Row02">$000,000</td>
											<td>&nbsp;</td>
																		<td align="right" valign="middle" class="Row02">$000,000</td>
											<td>&nbsp;</td>
																		<td align="right" valign="middle" class="Row02">$000,000</td>
										</tr>
										<tr>
											<td valign="middle" align="right">Year 3</td>
											<td>&nbsp;</td>
																		<td align="right" valign="middle" class="Row01">$000,000</td>
											<td class="Row01">&nbsp;</td>
																		<td align="right" valign="middle" class="Row01">$000,000</td>
											<td class="Row01">&nbsp;</td>
																		<td align="right" valign="middle" class="Row01">$000,000</td>
											<td class="Row01">&nbsp;</td>
																		<td align="right" valign="middle" class="Row01">$000,000</td>
											<td class="Row01">&nbsp;</td>
																		<td align="right" valign="middle" class="Row01">$000,000</td>
										</tr>
										<tr>
											<td valign="middle" align="right">Year 5</td>
											<td></td>
																		<td align="right" valign="middle" class="Row02">$000,000</td>
											<td></td>
																		<td align="right" valign="middle" class="Row02">$000,000</td>
											<td></td>
																		<td align="right" valign="middle" class="Row02">$000,000</td>
											<td></td>
																		<td align="right" valign="middle" class="Row02">$000,000</td>
											<td></td>
																		<td align="right" valign="middle" class="Row02">$000,000</td>
										</tr>
										<tr>
											<td valign="middle" align="right">Year 10</td>
											<td>&nbsp;</td>
																		<td align="right" valign="middle" class="Row01">$000,000</td>
											<td class="Row01">&nbsp;</td>
																		<td align="right" valign="middle" class="Row01">$000,000</td>
											<td class="Row01">&nbsp;</td>
																		<td align="right" valign="middle" class="Row01">$000,000</td>
											<td class="Row01">&nbsp;</td>
																		<td align="right" valign="middle" class="Row01">$000,000</td>
											<td class="Row01">&nbsp;</td>
																		<td align="right" valign="middle" class="Row01">$000,000</td>
										</tr>
										<tr>
											<td valign="middle" align="right">Year 12</td>
											<td></td>
																		<td align="right" valign="middle" class="Row02">$000,000</td>
											<td></td>
																		<td align="right" valign="middle" class="Row02">$000,000</td>
											<td></td>
																		<td align="right" valign="middle" class="Row02">$000,000</td>
											<td></td>
																		<td align="right" valign="middle" class="Row02">$000,000</td>
											<td></td>
																		<td align="right" valign="middle" class="Row02">$000,000</td>
										</tr>
										</table>
												</td>
										</tr>
										</table>
										
										<table width="425" border="0" cellspacing="0" cellpadding="2">
										<tr>
											<td height="45">&nbsp;</td>
										</tr>
										<tr>
											<td valign="middle" colspan="11" align="center" style="padding-top:7px;">
												<span>Option 2 - Refinance & Invest Monthly Savings</span></td>
										</tr>
										<tr>
											<td height="5"></td>
										</tr>
										<tr>
											<td valign="top" colspan="11"><img src="/images/oppotunities_graph18.gif" alt="" border="0" /></td>
										</tr>
										</table></td>																					
								</tr>
								<tr>
									<td valign="top" colspan="11">
										<table width="894" border="0" cellspacing="0" cellpadding="2">
										<tr>
											<td height="10"></td>
										</tr>
										<tr>
											<td valign="middle" width="50%"><a href="#" target="_self"><img src="/images/btn_generatereport.gif" alt="" border="0" /></a></td>
											<td valign="middle" width="50%" align="right">
											<%= link_to image_tag("/images/btn_viewpage4.gif", :alt=>"View HH Summary" ,:border=>"0"),:action => "hh_summary"%></td>
										</tr>
										</table></td>
								</tr>
								</table></td>
							<td width="10" class="CorBg03"></td>
						</tr>
						<tr>
							<td><img src="/images/cor03.gif" alt="" border="0" /></td>
							<td class="CorBg04"></td>
							<td><img src="/images/cor04.gif" alt="" border="0" /></td>
						</tr>
						</table></td>
				</tr>				
				</table>