<table width="914" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="10"></td>
  </tr>
  <tr>
  <td>
    <table width="914" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td height="10"></td>
				</tr>
				<tr>
					<td align="center" valign="top"> 
	
						<%= render :partial => "top_real_estate_agents"%>												
						<%= render :partial => "top_insurance_agents" %>						
						<%= render :partial => "top_financial_planners" %>
						<%= render :partial => "top_attorneys" %>
						<%= render :partial => "top_accountants" %>
						<%= render :partial => "top_title_agents" %>					
						<%= render :partial => "top_appraisers" %>
					</td>
				</tr>
				</table>
				</td>
  </tr>
</table>